{% extends "layout.html" %}
{% block title %}Browse info{% endblock %}
{% block content %}
<h2>Browse personal info</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
You have added these running times to HRR App:<br><br>
<table border=1>
<thead><tr><th>Route name</th><th>Completion date</th><th>Completion time</th></tr>
<tbody>
{% for time in times %}
<tr><td>{{ time.name }}</td><td>{{ time.completion_date }}</td><td>{{ time.completion_time }}</td></tr>
{% endfor %}
</tbody>
</table>
<br>
You have added these routes to HRR App:<br><br>
<table border=1>
<thead><tr><th>Route name</th><th>Type</th><th>Coordinates</th><th>Length</th><th>Map</th></tr></thead>
<tbody>
{% for route in routes %}
<tr><td>{{ route.name }}</td><td>{{ route.type}}</td><td>{{ route.coordinates }}</td><td>{{ route.length }}</td>
<td><a href="/show/{{ route.id }}">Map</a></td></tr>
{% endfor %}
</tbody>
</table>
<br>
You have added these reviews to HRR App:<br><br>
<table border=1>
<thead><tr><th>Route name</th><th>Grade</th><th>Review</th></tr></thead>
<tbody>
{% for review in reviewlist %}
<tr><td>{{ review.name }}</td><td>{{ review.grade }}</td><td>{{ review.review }}</td></tr>
{% endfor %}
</tbody>
</table>
{% else %}
Please login
{% endif %}
{% endblock %}







