{% extends "layout.html" %}
{% block title %} Browse routes{% endblock %}
{% block content %}
<h2>Browse routes</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
<hr>
<table border=1>
<thead><tr><th>Route name</th><th>Type</th><th>Coordinates</th><th>Length</th><th>Added by</th><th>Map</th></tr></thead>
<tbody>
{% for route in routes %}
<tr><td>{{ route.name }}</td><td>{{ route.type }}</td><td>{{ route.coordinates }}</td><td>{{ route.length }}</td><td>{{ route.username }}</td><td><a href="/show/{{ route.id }}">Map</a></td></tr>
{% endfor %}
</tbody>
</table>
<br>
{% else %}
Please login
{% endif %}
{% endblock %}
