{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<img src="/static/temp_logo.jpg">
<br>
<h2>Welcome to Running routes Helsinki App!</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
<a href="/newroute">Save a route</a><br>
<a href="/newmap">Save a route map</a><br>
<a href="/newtime">Save a running time</a><br>
<a href="/reviewroute">Leave a review</a>
<br>
<br>
<a href="/browseroutes">Browse routes</a>
<br>
<a href="/browsereviews">Browse reviews</a>
<br>
<br>
<a href="/browsepersonal">Browse personal info</a>
<br>
<br>
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:</br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>
New around here?
<br>
<a href="/newuser">Create a user account</a>
{% endif %}
{% endblock %}
