{% extends "layout.html" %}
{% block title %}Add map{% endblock %}
{% block content %}
<h2>Add a new map</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
Upload the route map in .jpg format.
<br>
<br>
<form action="/uploadmap" method="POST" enctype="multipart/form-data">
Select route name:
<br>
<select name="routename" method="GET" action="/">
{% for route in routes %}
<option value="{{ route.name }}" SELECTED>{{route.name}}</option>
{% endfor %}
</select>
<p>File<input type="file" name="file"></p>
<p>
<input type="submit" value="Save"></p>
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
