{% extends "layout.html" %}
{% block title %}Create route{% endblock %}
{% block content %} 
<h2>Create a new route</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
<form action="/create" method="POST">
<p>Name of the route:<br>
<input type="text" name="name"></p>
<p> Type (round/linear):<br>
<input type="text" name="type"></p>
<p>Length in km (format 0.0):<br>
<input type="numeric" name="length"></p>
<br>
<p>
<input type="submit" value="Send"></p>
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
