{% extends "layout.html" %}
{% block title %}Create route{% endblock %}
{% block content %} 
<h2>Create a new route</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
Instructions for saving route info:<br>
<ol>
    <li> Go to (opens a new window/tab): <a href="https://www.google.fi/maps/" target="_blank">Google Maps</a>.
    <li> Locate the starting point of the route by clicking the map.
    <li> Copy the coordinates below.
    <li> Return to Google Maps. Right click and select "Measure distance".
    <li> Click on the map to create a route.
    <li> Finish the route and save the distance below.
    <li> Return to Google maps. Use your screen capture tool to save the map in .jpg format.
    <li> Save the basic info below. Continue to save the .jpg map.
</ol>
<form action="/create" method="POST">
<p>Name of the route:<br>
<input type="text" name="name"></p>
<p>Type (round/linear):<br>
<input type="text" name="type"></p>
<p>Length in km (format 0.0):<br>
<input type="numeric" name="length"></p>
<p>Starting coordinates:<br>
<input type="text" name="coordinates"></p>
<br>
<input type="submit" value="Save"></p>
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
