{% extends "layout.html" %}
{% block title %}Create route{% endblock %}
{% block content %} 
<h2>Create a new route</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
Instructions for saving route info:<br>
<ol>
    <li> Give the name and type of the route.
    <li> Go to (opens a new window/tab): <a href="https://www.google.fi/maps/" target="_blank">Google Maps</a>.
    <li> Locate the starting point of the route by clicking the map.
    <li> Copy the coordinates below.
    <li> Return to Google Maps. Right click and select "Measure distance".
    <li> Click on the map to create a route.
    <li> Finish the route and save the distance below.
    <li> Return to Google Maps. Use your screen capture tool to save the map in .jpg format.
    <li> Save the basic info below. Continue to save the .jpg map.
</ol>
You can also use the route information from your sports watch. 
<form action="/createroute" method="POST">
<p>Name of the route:<br>
<input type="text" name="name" required></p>
<p>Type (round: A to A, linear: A to B):<br>
<select name="type"><br>
<option value=Round>A to A</option>
<option value=Linear>A to B</option>
</select><br>
<p>Length in km (format 0.0):<br>
<input type="numeric" name="length" value="0.0"></p>
<p>Starting coordinates:<br>
<input type="text" name="coordinates"></p>
<br>
<input type="submit" value="Save"></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
