{% extends "layout.html" %}
{% block title %}Review{% endblock %}
{% block content %}
<h2>Review a route</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
Leave a review for a route:
<br>
<ul>
{% for route in routes %}
<li>{{ route.name }}
{% endfor %}
</ul>
<form action="/createreview" method="POST"> 
<label for="routename">Name of the route:</label>
<br>
<select id="routename" name="routename">
<option value =
{% for route in routes %}
{{ route.name }}></option>
{% endfor %}
</select>
<br>
Name of the route:
<input type="text" name="routename"></p>
<p>Grade (1 - 5; 1 = not good, 5 = excellent):<br>
<input type="numeric" name="grade"></p>
<p>Review:<br>
<textarea name="review" rows="3" cols="40"></textarea></p>
<br>
<input type="submit" value="Send"></p>
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
