{% extends "layout.html" %}
{% block title %}Review{% endblock %}
{% block content %}
<h2>Review a route</h2>
<br>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<br>
<form action="/createreview" method="POST"> 
Select route name:
<br>
<select name="routename" method="GET" action="/">
{% for route in routes %}
<option value="{{ route.name }}" SELECTED>{{route.name}}</option>
{% endfor %}
</select>
<br>
Grade (1-5; 1 = not good, 5 = excellent):<br>
<select name="grade" required>
<option value=1>1</option>
<option value=2>2</option>
<option value=3>3</option>
<option value=4>4</option>
<option value=5>5</option>
</select>
<p>Review:<br>
<textarea name="review" rows="3" cols="40" required></textarea></p>
<br>
<input type="submit" value="Save"></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
Please login
{% endif %}
{% endblock %}
